{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="container">
    <div class="row mb-5 mx-auto">
        <div class="col-4">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 320px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                  <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                  <span class="fs-4">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <a href="#" class="nav-link link-dark" aria-current="page" onclick="personalPage()">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      Mes informations personnelles
                    </a>
                  </li>
                  {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item">
                    <a href="{{ path('newsletters_list') }}" class="nav-link link-dark" aria-current="page">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                      Liste newsletters
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a href="#" class="nav-link link-dark" onclick="bookingPage()">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                      Mes réservations
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark" onclick="wishlistPage()">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                      Ma Wishlist
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link link-dark" onclick="passwordPage()">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                      Modifier mon mot de passe
                    </a>
                  </li>
                </ul>
              <hr>
            </div>
        </div>
        <div class="col-8 text-center" id="personal">
            <h2>Mon compte personnel</h2>
            <p><strong>Mes informations personnelles</strong><br/>
            {{ app.user.firstname }} {{ app.user.lastname }}<br/>
            Email : {{ app.user.email }}<br/>
            <img src="/uploads/{{ app.user.picture }}" alt="{{ app.user.firstname }}" width="100" height="100" class="rounded-circle me-2 mt-5">
            </p>            
        </div>

        <!-- block pour modification du mot de passe -->
        <div class="col-8 text-center" id="password">
          {% block password %}
            {{ include('account/_password.html.twig') }}
          {% endblock %}
        </div>

        <!--block pour accéder à ma wishlist-->
        <div class="col-8 text-center" id="wishlist">
          {% block wishlist %}
            {{ include('account/_wishlist.html.twig') }}
          {% endblock %}
        </div>

        <!--block pour accéder à mes réservations-->
        <div class="col-8 text-center" id="bookings">
          {% block bookings %}
            {{ include('account/_bookings.html.twig') }}
          {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    document.getElementById('personal').style.display='block'
    document.getElementById('password').style.display='none'
    document.getElementById('wishlist').style.display='none'
    document.getElementById('bookings').style.display='none'

  function personalPage() {
    document.getElementById('personal').style.display='block'
    document.getElementById('password').style.display='none'
    document.getElementById('wishlist').style.display='none'
    document.getElementById('bookings').style.display='none'
  }

  function bookingPage(){
    document.getElementById('personal').style.display='none'
    document.getElementById('password').style.display='none'
    document.getElementById('wishlist').style.display='none'
    document.getElementById('bookings').style.display='block'
  }

  function wishlistPage() {
    document.getElementById('personal').style.display='none'
    document.getElementById('password').style.display='none'
    document.getElementById('wishlist').style.display='block'
    document.getElementById('bookings').style.display='none'
  }

  function passwordPage() {
    document.getElementById('personal').style.display='none'
    document.getElementById('password').style.display='block'
    document.getElementById('wishlist').style.display='none'
    document.getElementById('bookings').style.display='none'
  }

</script>


 
{% endblock %}
