{% extends 'base.html.twig' %} 

{% block title %}AnyWhere{% endblock %} 

{% block body %}

  <div>
    <h1 class="text-center"><span>Any</span>Where</h1>
    <h2 class="text-center mb-5">Site de réservation de voyages en ligne</h2>
  </div>
  <hr>

  <!-- Block pour indiquer les 3 meilleurs voyages-->
  <div class="container-fluid">
    {% block isBest %}
      {{ include('home/_isbest.html.twig') }}
    {% endblock %}
  </div> 


  <!--Block pour le responsive hero-->
  <div class="container col-xxl-8 px-4 py-5">
    {% block leftHero %}
      {{ include('home/_leftHero.html.twig') }}
    {% endblock %}
  </div>
  <hr>


  <!--Block pour les coups de coeur des voyageurs-->
  <div class="container-fluid mb-5">
    {% block heartUsers %}
      {{ include('home/_heartusers.html.twig') }}
    {% endblock %}
  </div>


  <!--Block pour le right responsive hero-->
  <div class="container my-5">
    {% block rightHero %}
      {{ include('home/_righthero.html.twig') }}
    {% endblock %}
  </div>
  <hr>


  <!--Block pour les raisons de choisir Anywhere-->
  <div class="container px-4 py-5" id="icon-grid">
    {% block whyAnywhere %}
      {{ include('home/_why.html.twig') }}
    {% endblock %}
  </div>
  <hr>


  <!--Block pour le hero central-->
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    {% block centralHero %}
      {{ include('home/_centralhero.html.twig') }}
    {% endblock %}
  </div>


  <!--Block pour les avis -->
  <div class="container px-4 py-5" id="hanging-icons">
    {% block notices %}
      {{ include('home/_notices.html.twig') }}
    {% endblock %}
  </div>
  


<script>
  var botmanWidget = {
    frameEndpoint: '{{ path("chatframe") }}',
    chatServer: '{{ path("message") }}',
    introMessage: "Hello, I am a Chatbot",
    title: "My Chatbot",
    mainColor: "#456765",
    bubbleBackground: "#ff76f4",
    aboutText: "",
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js"></script>

{% endblock %}
