{% extends 'base.html.twig' %}

{% block title %}Liste de souhaits{% endblock %}

{% block body %}

    <h1 class="text-center mb-5">Ma wishlist</h1>

    <div class="row justify-content-center mb-4 ">
        {% for travel in wish %}
        <div class="col-md-4">
            <div class="card mx-auto text-center mb-5" style="width: 18rem;">
                <img src="/uploads/{{ travel.travel.image }}" class="card-img-top" alt="{{ travel.travel.place }}" style="height: 130px;">
                <div class="card-body">
                  <h5 class="card-title">{{ travel.travel.place }}</h5>
                  <p class="card-text">{{ travel.travel.description|slice(0, 120) }}...</p>
                  <a href="{{ path('app_travel_details', { 'id' : travel.travel.id }) }}" class="btn btn-primary">Descriptif</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
{% endblock %}
