{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container">
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for type in type %}
          <a class="p-2 link-secondary" href="{{ path('app_blog_id', { 'id' : type.id }) }}">{{ type.name }}</a>
          {% endfor %} 
          <a class="p-2 link-secondary" href="{{ path('app_blog_list') }}">Tous nos articles</a>
        </nav>
    </div>
</div> 

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-dark rounded" style="background: url('/uploads/{{ headerblog.image }}')">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">{{ headerblog.title }}</h1>
        <p class="lead my-3">{{ headerblog.description }}</p>
        <p class="lead mb-0"><a href="{{ headerblog.btnURL }}" class="text-white fw-bold">{{ headerblog.btnName}}</a></p>
      </div>
    </div>
  
    <div class="row mb-2">
      <h2 class="display-5 fst-italic text-center mb-5">Nos derniers articles de blog</h2>
      {% for articles in articles %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static my-auto">
            <a href="{{ path('app_blog_show', { 'id' : articles.id }) }}" class="stretched-link"><h4 class="fst-italic mb-2 text-dark">{{ articles.title }}</h4></a>
            <div class="lead mb-1 text-muted"><strong>Date du post :</strong> {{ articles.date|date("m/d/Y") }}</div>
            <p class="lead card-text mb-auto">{{ articles.subtitle }}</p>
          </div>
          <div class="col-auto d-lg-block">
            <img src="/uploads/{{ articles.image }}" alt="{{ articles.title }}" class="bd-placeholder-img" width="200" height="250">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

{% endblock %}
