<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel"><strong>Détails pratiques</strong></h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4><strong>Budget moyen :</strong></h4>
          <h5>{{travel.price / 100}} € estimé par adulte</h5>
            <p>Cette idée de voyage est entièrement personnalisable avec l'aide de votre expert·e local·e.Le prix final de votre circuit est susceptible de varier en fonction de vos dates de départ et des étapes, activités ou hébergements souhaités. <br>
            Retrouvez ci-dessous les budgets moyens observés selon les périodes* :</p>

          <!--Affichage des différents prix-->
          <div class="row">
            <p><strong>Pour toute l'année : </strong></p>
            {% if travel.priceTwo != null %}
              <div class="col-md-6"> 
                <p><strong>{{ travel.priceTwo / 100}} €</strong> pour 2 personnes.</p>  
              </div>
            {% elseif travel.priceTwo == null %}
              <p>Données de prix supplémentaires manquantes.</p>
            {% endif %}
          </div>

          <div class="row">
            {% if travel.priceThree != null %}
              <div class="col-md-6"> 
                <p><strong>{{ travel.priceThree / 100}} €</strong> pour 3 personnes.</p>  
              </div>
            {% endif %}
          </div>

          <div class="row">
            {% if travel.priceFour != null %}
              <div class="col-md-6"> 
                <strong>{{ travel.priceFour / 100}} €</strong> pour 4 personnes. 
              </div>
            {% endif %}
          </div>
          <hr>
          {% if travel.additionalPrice != null %}
          <div class="row">
            <p>Supplément pour une chambre individuelle : <strong>{{ travel.additionalPrice / 100 }} €</strong></p>
          </div>
          {% elseif travel.additionalPrice == null %}
          <div class="row">
            <p>Aucun supplément pour une chambre individuelle.</p>
          </div>
          {% endif %}
          <div>
            <p> *en voyageant avec Evaneos, vous avez l'assurance de soutenir l'économie locale de votre future destination. Retrouvez nos engagements pour des voyages plus justes et plus durables sur notre Charte Better Trips.</p>
            <h5>Réservez en toute tranquillité et flexibilité</h5>
            <p>Nous mettons tout en oeuvre pour permettre la tranquillité et la flexibilité nécessaires à la préparation de votre voyage.</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg><strong> Paiement en plusieurs fois</strong> possible selon les conditions et modalités proposées par votre expert.e local.e.</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg><strong> Assurance Multirisques :</strong> en option et en partenariat avec Chapka et Axa, elle inclut notamment les risques liés à la COVID-19</p>
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg><strong> Garantie Respire</strong> proposée par une selection d’agences locales, elle vous permet de bénéficier d’une annulation sans frais à plus de 30 jours ou d’un report sans frais à moins de 30 jours.</p>
          </div>

          <!--Liste des services inclus et non inclus dans le séjour -->
          <div class="row justify-content-center">
            <div class="col-md-6">
              <h6 class="text-center">Services inclus dans le voyage</h6>
              {% for s in travel.ServiceIncluded %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
              </svg> {{ s.name }}<br/>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <h6 class="text-center">Services non inclus dans le voyage</h6>
              {% for s in travel.ServiceNotIncluded %}
              <strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
              </svg></strong> {{ s.name }}<br/>
              {% endfor %}
            </div>
          </div>
          <div class="row justify-content-center">
            <h5 class="mt-4">
              Réservez vos vols France - {{ travel.country|country_name('fr') }}
            </h5>
            <p>Les vols internationaux ne sont pas inclus dans ce voyage. Vous pouvez demander à votre agence locale de vous conseiller grâce à notre partenaire Option Way.<br/>
              Ainsi, bénéficiez de nombreux avantages :<br/>
              Des <strong>tarifs compétitifs</strong><br/>
              Des <strong>prix tout compris sans surprise</strong><br/>
              L’agence de {{ travel.user }} en {{ travel.country|country_name('fr') }}informée en cas de modification de vols.<br/>
              Vous pouvez également réserver vos vols vous-même sur notre site partenaire.
            </p>
            <div class="col-sm-6">
              <button class="btn btn-dark text-light border-light text-center" type="button"><strong>Contactez l'expert.e local.e</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
