{% extends 'base.html.twig' %} {% block title %}Voyage n° {{ travel.id }}{% endblock %} 
  
  {% block body %}

    <!--Block Banner pour le header de chaque voyage-->
      {% block headerBanner %}
        {{ include('travel/_banner.html.twig') }}
      {% endblock %}
    
 
      <!-- Block Modal pour les photos du carousel-->
      {% block modalCarousel %}
        {{ include('travel/_carousel.html.twig') }}
      {% endblock %}

      
      <div class="row justify-content-center align-items-md-stretch mb-5">
        <div class="col-md-6">
          <div class="px-5">
            <p>
              <button class="btn btn-dark text-light border-light"><strong>{{ travel.activity }}</strong>
                    </button>
            </p>
            <p>
              {% for t in travel.NumberOfPeople %}
                  <button class="btn btn-light border border-success p-2 border-opacity-10">{{ t.name }}</button> 
              {% endfor %}
            </p>
          </div>
          <div class="h-100 px-5 text-dark">
            <h2>{{ travel.style }}</h2>
            <p>{{ travel.description }}</p>
          </div>
        </div>

        <div class="col-md-4 lg-shadow">
            <div class="h-100 p-5 bg-light border rounded-3">
            <div class="row">
              <div class="col-md-8">
                <h5 class="mb-4">Idée de voyage proposé par </h5>
                <h4 class="mt-1 mb-3"><strong>{{ travel.agency }}</strong></h4>               
              </div>
              <div class="col-md-4">
                {% if travel.agency.picture is defined %}
                  <img src="/uploads/{{ travel.agency.picture }}" alt="{{ travel.agency }}" class="rounded-pill w-100">
                {% else %}
                  <img src="{{ asset('assets/img/none.jpg') }}" alt="picture" class="rounded-pill w-100">
                {% endif %}
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p><strong>Durée du voyage</strong></p>
                </div>
                <div class="col-6">
                    <h4><strong>{{ travel.time }}</strong></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p><strong>Budget moyen estimé par personne</strong><br/>
                    Hors vols internationaux</p>
                </div>
                <div class="col-6">
                    <h4><strong>{{ travel.price / 100 }} €</strong></h4>
                </div>
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">Plus de détails</a>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-dark text-light border-light" type="button"><strong>Contactez l'expert.e local.e</strong></button>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Block pour le modal détails pratiques sur le voyage-->
      {% block modal %}
          {{ include('travel/_modal.html.twig') }}
      {% endblock %}

    
      <div class="row justify-content-center mb-5">
        <div class="col-md-8">
          <div class="row">
            <h5 class="text-center mt-2 mb-4">Périodes idéales pour partir en {{ travel.country|country_name('fr') }}</h5>
            {% for p in travel.period %}
            <div class="col-sm-2 border">
              <div class="text-center mx-auto">
                {{ p.month }}
              </div>
              <div class="progress w-25 mt-1 m-3 mx-auto">
                <div class="progress-bar bg-success" style="width: {{p.value}}%" role="progressbar" aria-valuenow="{{ p.value }}" aria-valuemin="0" aria-valuemax="100">
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Block pour afficher des voyages du même style -->
      {% block styles %}
        {{ include('travel/_styles.html.twig') }}
      {% endblock %}

      <!-- block pour écrire les commentaires des voyageurs et les afficher-->
      {% block coments %}
        {{ include('travel/_coments.html.twig') }}
      {% endblock %}

{% endblock %}

{% block script %}
    <script type="text/javascript">
     
  </script>
{% endblock %}
